@import "mixins";

$color: #111;
$color2: #777;
$size: 8px;

.box {
	@include box(round($size*10/2+4.25),red);
	.box-inner {
		color: $color;
	}
}

.other-box {
	@extend .box;
	.box-inner {
		cursor: pointer;
		display: inline-block;
		width: auto;
		color: mix($color,$color2);
	}
	&:hover {
			@include transform(1.4,5deg);
	}
}
